@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f5;
  /* zinc-100 */
  --foreground: #18181b;
  /* zinc-900 */
  --card-bg: #ffffff;
  --card-border: #e4e4e7;
  /* zinc-200 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}